<header id="header" class="bg-info py-4 mb-2 text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <fa-icon [icon]="faUser"></fa-icon> Login
        </h1>
      </div>
    </div>
  </div>
</header>

<section id="sections" class="bg-light py-4 mb-2">
  <div class="conatiner">
    <div class="row">

    </div>
  </div>
</section>

<section id="section-form">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header">
            <h3>Login</h3>
          </div>
          <div class="card-body">

            <flash-messages></flash-messages>
            <form #formLogin="ngForm" (ngSubmit)="Loggin(formLogin)">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" id="email" #email="ngModel" required [(ngModel)]="emaill"
                  [ngClass]="{'is-invalid': email.errors && email.touched}">
                 <div [hidden]="!email.errors?.required && email.touched" class="invalid-feedback">
                  el email es requerido
                </div>
              </div>
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" name="password" id="password" #password="ngModel" [(ngModel)]="passwordd"
                  [ngClass]="{'is-invalid': password.errors && password.touched}" required>
                <div [hidden]="!password.errors?.required && password.touched" class="invalid-feedback">
                  la contraseña es requerida
                </div>
              </div>
              <input type="submit" value="Login" #login class="btn btn-primary form-control">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
