<nav class="navbar  navbar-expand-sm navbar-dark bg-dark p-2">
  <div class="container d-flex justify-content-lg-between">
    <a [routerLink]="['/']" class="navbar-brand">Control Cliente</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="true">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
    <ul class="navbar-nav">
      <li *ngIf="logginAuth" class="nav-link nav-item px-2">
        <a [routerLink]="['/']" class="navbar-brand">Inicio</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link navbar-brand dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <fa-icon [icon]="faUser"></fa-icon> Bienvenido {{userName}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/configuracion']">
            <fa-icon [icon]="faCog"></fa-icon>
            Configuraciones
          </a>
        </div>
      </li>

      <li *ngIf="!logginAuth" class="nav-item" style="display:flex;">
        <a [routerLink]="['/login']" class="nav-link py-1">
          Login
        </a>
      </li>

      <li *ngIf="logginAuth" class="nav-item">
        <a class="nav-link" style="cursor: pointer;" (click)="logout()">
          <fa-icon [icon]="faLogout"></fa-icon>
        </a>
      </li>
    </ul>
  </div>

</nav>
