<header id="registroUser" class="bg-info py-4 mb-4 text-white ">
  <div class="conatiner">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h1>
          <fa-icon [icon]="faUserplus"></fa-icon> Registro cliente
        </h1>
      </div>
    </div>
  </div>
</header>


<section id="botones" class="bg-light py-4 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a [routerLink]="['/']" class="btn btn-secondary" style="cursor: pointer; float:right; ">Cancelar</a>
      </div>
    </div>
  </div>
</section>

<section id="sectionform">
  <form #formCrearUser="ngForm" (ngSubmit)="crearUser(formCrearUser)">





    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">

          <!-- alerta de mensajes si el formulario no es valido -->
          <flash-messages></flash-messages>

          <div class="card">
            <div class="card-header">
              <h2>
                <fa-icon [icon]="faUser"></fa-icon> Registro de Usuario
              </h2>
            </div>
            <div class="card-body">

              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" #email="ngModel" required
                  [ngClass]="{'is-invalid': email.errors && email.touched}" [(ngModel)]="emailRegistro">
                <div [hidden]="!email.errors?.required" class="invalid-feedback">
                  el email es requerido para registrase
                </div>
                <div [hidden]="!email.errors?.pattern" class="invalid-feedback">
                  ingrese un email valido
                </div>
              </div>

              <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" name="password" class="form-control" id="password" #password="ngModel" required
                  minlength="8" [(ngModel)]="passwordRegistro"
                  [ngClass]="{'is-invalid': password.errors &&  password.touched}">
                <div [hidden]="!password.errors?.required" class="invalid-feedback">
                  la contraseña es obligatoria!!
                </div>
                <div [hidden]="!password.errors?.minlength" class="invalid-feedback">
                  la contraseña debe tener minimo 8 caracteres
                </div>
              </div>
              <div>
                <input type="submit" class="btn btn-primary btn-block form-control" value="Registrar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
